<%- include('header') %>
<section id="home">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                            <img src="/img/recebendo canudo.jpg " class="d-block w-100" alt="Recebendo Canudo">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Recebendo Canudo</h5>
                            <p>Recebendo Canudo na Formatura realizada em 2018.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                            <img src="/img/recebendo canudo2.jpg " class="d-block w-100" alt="Recebendo Canudo">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Recebendo Canudo</h5>
                            <p>Recebendo Audorga na Formatura realizada em 2018.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                            <img src="/img/Juramento.jpg " class="d-block w-100" alt="Juramento">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Juramento</h5>
                            <p>Realizando juramento na Formatura realizada em 2018.</p>
                        </div>
                    </div>
                </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
    </section>

    <section class="historia">
        <div class="container">
            <div class="row">
                <div class="col">
                        <div class="jumbotron">
                            <div class="row">
                                <h1 class="display-4">História</h1>
                                <hr class="my-4">
                                <p>Falando um pouco sobre minha história, terminei o ensino médio em uma escola profissinalizante com 17 anos curso redes de computadores
                                e não parei por ai, prestei vestibular e fui aprovado, passei a encarar um novo desafio entrar e terminar a gradução, a maiora
                                das pessoas fica no meio desse periodo, apesar das dificuldades passadas durantes esses 4 anos, cada semestre se tornava
                                um desafio a ser alcançado, aquele velho ditado matar um leão por dia o meu caso por semestre, conseguir concluir
                                no ano de 2018, mas não pretendo parar por ai, quero me especializar ainda mais, penso em fazer pós gradução, espero apenas o momento certo.</p>
                            </div>
                            <div class="row" id="btn">
                                <div class="col">
                                    <a class="btn_facebook" href="https://www.facebook.com/profile.php?id=100009592251990" role="button"><i class="fab fa-facebook"> Facebook</i></a>
                                </div>
                                <div class="col">
                                    <a class="btn_instagram" href="https://www.instagram.com/?hl=pt-br" role="button"><i class="fab fa-instagram"> Instagram</i></a>
                                </div>
                                <div class="col">
                                    <a class="btn_twitter" href="https://twitter.com/home" role="button"><i class="fab fa-twitter"> Twitter</i></a>
                                </div>
                                <div class="col">
                                    <a class="btn_linkedin" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_sign-in-submit" role="button"><i class="fab fa-linkedin"> Linkedin</i></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section id="curriculo">
        <div class="container">
            <header><h2>Currículo</h2></header>
           <article>
                <div class="row">
                        <div class="col">
                            <figure class="figure">
                                <img src="/img/Fotocurriculo.png " class="img-fluid" alt="Foto Curriculo Pedro Alisson">
                                <figcaption class="figure-caption"> Pedro Alisson</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <nav>
                                    <article class="dadospessoais"> 
                                            <header>
                                                    <h2>Dados Pessoais</h2>
                                                        <ul>
                                                            <li><b>Nome: </b>Pedro Alisson dos Santos Silva</li>
                                                            <li><b>Nacionalidade: </b>Brasileiro, Solteiro, 22 anos</li>
                                                            <li><b>Endereço: </b>Rua Melquiades da Costa Veloso, 138, Alto da alegria</li>
                                                            <li><b>Cidade: </b>Barbalha - CE</li>
                                                            <li><b>Telefone: </b> (88) 9-98708282</li>
                                                            <li><b>E-mail: </b> pedro.alisson1997@gmail.com</li>
                                                        
                                                        </ul>   
                                                </header>
                                    </article>
                            </nav> 
                        </div>
                </div>
            </article>

          </div>

          <div class="container">
              <h2>Objetivo</h2>
              <div class="row">
                  <div class="col-sm-12"> 
                        <article class="objetivo">                                    
                            <p> Crescer profissionalmente, compartilhar minha experiências com meus colegas de trabalho, aplicar oque aprendi na faculdade e colaborar para o crescimento da empresa</p>
                        </article>
                      </div>
                </div>
          </div>

        <div class="container" id="escolaridadeh">
            <h2>Escolaridade</h2>
            <div class="row">
                <div class="col"> 
                    <article class="escolaridade">                                    
                        <ul>
                            <li><i class="fas fa-university"> Médio Completo</i></li>  
                            <li>Escola Estadual de Educação Profissional Otília correia Saraiva</li>
                            <li>Redes de Computadores</li>
                            <li>Barbalha</li>
                            <li>2014</li>                                    
                        </ul>   
                    </article>
                </div>

                <div class="col"> 
                    <article class="escolaridade">                                    
                        <ul>
                            <li><i class="fas fa-university"> Superior Completo</i></li>                  
                            <li>Faculdade de Juazeiro do norte</li>
                            <li>Sistema de Informação</li>
                            <li>Juazeiro do Norte</li>
                            <li>2018</li>                                    
                        </ul>   
                    </article>
                </div> 
            </div>  
        </div>

        <div class="container" id="experiencia">
            <h2>Experiências Profissionais</h2>
            <div class="row">
                <div class="col">
                    <article class="experiencia">
                        <section>
                            <img src="/img/favicon/megasystem.jpg" class="img-fluid" alt="MegaSystem">
                                <ul>
                                    <li><b>Empresa: </b> MegaSystem Informática</li>
                                    <li><b>Período:   </b> Ago de 2015 à Dez de 2015.</li>
                                    <li><b>Cargo: </b> Estágio</li>
                                </ul>
                        </section>
                    </article>
                </div>
                <div class="col"> 
                    <article class="experiencia">
                        <section>
                                <img src="/img/favicon/tt.jpg" class="img-fluid" alt="Tete Distribuidor">
                                    <ul>
                                        <li><b>Empresa: </b> Tete Distribuidor</li>
                                        <li><b>Período: </b> mar de 2017 à out de 2018</li>
                                        <li><b>Cargo: </b> Estagiário de TIC</li>
                                    </ul>
                        </section>     
                    </article>
                </div>
                <div class="col">
                    <article class="experiencia">
                        <section>
                            <img src="/img/favicon/tt.jpg" class="img-fluid" alt="Tete Distribuidor">
                            <ul>
                                <li><b>Empresa: </b>Tete Distribuidor</li>
                                <li><b>Período: </b> out de 2018 até o momento </li>
                                <li><b>Cargo: </b> Auxiliar de TIC</li>
                                </ul>
                            </section>
                    </article>
                </div>
                <div class="col">
                    <article class="experiencia">
                        <section>
                            <img src="/img/favicon/devsmart.jpg" class="img-fluid" alt="DevSmart">
                            <ul>
                                <li><b>Empresa: </b>DevSmart</li>
                                <li><b>Período: </b> mar de 2018 à mai de 2019</li>
                                <li><b>Cargo: </b> Gerente de Banco de Dados</li>
                                </ul>
                            </section>
                    </article>
                </div>
            </div>
        </div> 

        <div class="container">
            <h2>Cursos</h2>
            <div class="row">
                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-network-wired"> Redes de computadores</i></h6>                           
                            <ul>
                                <li><b>Entidade:</b> Escola Estadual de Educação Profissional Otília Correia Saraiva,<b> Carga Horária:</b> 5.400 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>
                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fab fa-windows"> Windows 7 </i></h6>
                            <ul> 
                                <li><b>Entidade:</b> Escola Virtual da Fundação Bradesco, <b>Carga Horária:</b>12 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>  
                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-university"> TI na Educação</i></h6>
                            <ul>
                                <li><b>Entidade:</b> Escola Virtual da Fundação Bradesco, <b>Carga Horária:</b> 7 horas.</li>
                             </ul>
                        </header>
                    </article>
                </div>
                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-university"> Empreenderismo</i></h6>
                            <ul>
                                <li><b> Entidade:</b> Escola Estadual de Educação Profissional Otília Correia Saraiva,<b> Carga Horária:</b> 60 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>
            </div>   
            <div class="row">
                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-language"> Inglês</i></h6>
                            <ul>
                                <li><b> Entidade:</b> Plataforma Virtual Voxy, <b>Carga Horária:</b> 15.1 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>

                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-database"> Business Process</i></h6>
                            <ul>
                                <li><b> Entidade:</b> Escola Virtual da Fundação Bradesco,<b> Carga Horária:</b> 8 horas.   </li>
                            </ul>
                        </header>
                    </article>
                </div>

                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-database"> Modelagem de Banco de dados </i></h6>
                            <ul>
                                <li> <b> Entidade:</b> Escola Virtual da Fundação Bradesco, <b>Carga Horária: </b>35 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>

                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fab fa-js-square"> JavaScript</i></h6>
                            <ul>
                                <li><b> Entidade:</b> Mx Cursos, <b>Carga Horária:</b> 64 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>
            </div>

            <div class="row">
                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-laptop"> Html e Css essencial </i></h6>
                            <ul>
                                <li><b> Entidade: </b>Mx Cursos, <b>Carga Horária:</b> 25 horas.</li>
                             </ul>
                        </header>
                    </article>
                </div>

                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-university"> Semana Iniciação Cientifica</i></h6>
                            <ul> 
                               <li><b> Entidade:</b> Faculdade de Juazeiro do Norte, <b>Carga horaria:</b>  40 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>

                <div class="col"> 
                    <article class="cursos">
                        <header>
                            <h6><i class="fas fa-desktop"> Sistema de Informação</i></h6>                           
                            <ul>
                              <li><b>Entidade:</b> Faculdade de Juazeiro do Norte,<b>Carga Horária:</b>  3.520 horas.</li>
                            </ul>
                        </header>
                    </article>
                </div>               
            </div>                       
    </section>
    <section id="projects" class="projects">
        <div class="container">
            <article>
                <header>
                    <h1>Projetos Publicados</h1>
                    <div class="card-deck">
                        <div class="card">
                          <img src="/img/Projeto-Convert.png" class="card-img-top" alt="Projeto-Convert">
                          <div class="card-body">
                            <h5 class="card-title">Convert My Money</h5>
                            <p class="card-text">O intuito desse projeto é pegar a cotação do Dolar Atual baseado no banco central.</p>
                            <p class="card-text"><small class="text-muted">Last updated February 02-27</small></p>
                            <a class="btn btn-primary" href="https://pedroconvert.herokuapp.com/">Saiba mais</a>
                        </div>  
                        </div>
                        <div class="card">
                          <img src="/img/Projeto-Curriculo.png" class="card-img-top" alt="Projeto-Curriculo">
                          <div class="card-body">
                            <h5 class="card-title">Currículo</h5>
                            <p class="card-text">Projeto que contem o Currículo</p>
                            <p class="card-text"><small class="text-muted">Last updated February 02-27</small></p>
                            <a class="btn btn-primary" href="https://pedroalisson.herokuapp.com/">Saiba mais</a>
                        </div>
                        </div>
                        <div class="card">
                          <img src="/img/Projeto-Crud.png" class="card-img-top" alt="Projeto-Crud">
                          <div class="card-body">
                            <h5 class="card-title">Crud Mysql</h5>
                            <p class="card-text">Projeto que Contem Crud com Mysql.</p>
                            <p class="card-text"><small class="text-muted">Last updated February 03-21</small></p>
                            <a class="btn btn-primary" href="https://pedroprojectcrud.herokuapp.com/">Saiba mais</a>
                        </div>
                        </div>
                        <div class="card">
                            <img src="/img/Projeto-Crud.png" class="card-img-top" alt="Projeto-Crud">
                            <div class="card-body">
                              <h5 class="card-title">Em Construção Crud</h5>
                              <p class="card-text">Projeto que ainda está em desenvolvimento.</p>
                              <p class="card-text"><small class="text-muted">Last updated March 06-03</small></p>
                              <a class="btn btn-primary" href="">Saiba mais</a>
                          </div>
                          </div>

                          <div class="card">
                            <img src="/img/AppFinancial.png" class="card-img-top" alt="Projeto-AppFinancial">
                            <div class="card-body">
                              <h5 class="card-title">App Financial</h5>
                              <p class="card-text">Projeto desenvolvido para pegar os dados de uma api desenvolvida pelo autor do currículo, realizar cruds de investimentos e Contas.</p>
                              <p class="card-text"><small class="text-muted">Last updated July 06-07</small></p>
                              <a class="btn btn-primary" href="https://github.com/PedroAlisson/appfinancial">Saiba mais sobre o Aplicativo</a>
                              <a class="btn btn-primary" href="https://github.com/PedroAlisson/personal-financial-control">Saiba mais sobre a Api</a>
                          </div>
                          </div>
                      </div>
                </header>

            </article>
            
        </div>
    </section>
    <div class="container">
        <h2>Tecnologias</h2>
        <div class="row">
            <div class="col-sm-12"> 
                  <article class="tecnologias">                                    
                      <p> Estudante das técnologias, ReactJs, ReactNative e NodeJs</p>
                  </article>
                </div>
          </div>
    </div>
<%- include('footer') %>