*{
    padding: 0;
    box-sizing: border-box;
}

.carousel-caption h5{
    color: white;
}

.figure figcaption{
    text-align: center;
}
.figure{
    margin-top: 20px;
}

.historia{
    text-align: center;
}

.row h1{
    text-align: center;    
    position: relative;
    width: 100%;
}

.row p{
    margin-top: 40px;
}

.btn_facebook{
    background-color: #3b5998 ;
    border-radius: 10px;
    padding: 20px;
    display: block;
}

.btn_facebook i, .btn_instagram i , .btn_twitter i , .btn_linkedin i  {
   color: white;
}

.btn_instagram{
    background-color: #3f729b;
    border-radius: 10px;
    padding: 20px;
    display: block;
}

.btn_twitter{
    background-color: #00acee;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
}

.btn_linkedin{
    background-color: #0e76a8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
}


.btn_facebook:hover{
    background-color: black
}

.btn_instagram:hover{
    background-color: black
}

.btn_twitter:hover{
    background-color: black
}

.btn_linkedin:hover{
    background-color: black
}


p{
    color: red;
}

.row p{
    color: black;
    text-align: center;
}

.figure img{
    border-radius: 20px;
    width: 500px;
}

ul li{
    list-style: none;
}
h2{
    text-align: center; 
}

.historia{
    margin-top: 60px;
}
.jumbotron div p{
    margin-bottom: 40px;
}

#btn .col a{
    margin-bottom: 20px;
}

.dadospessoais header ul{
    line-height: 3em;
    text-align: center;
}
.escolaridade{
    text-align: center;
    padding: 10px;
    border-radius: 20px ;
}

.escolaridade ul{
    line-height: 3em;
}


.container h2{
    margin-top: 80px;
    margin-bottom: 80px;
}

 #experiencia h2{
    margin-top: 80px;
    margin-bottom: 80px;
}

.experiencia img{
    border-radius: 20px;
}

.experiencia{
    text-align: center;
    min-height: 450px;
    margin-bottom: 20px;
    animation-name: animation; 
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-bottom: 20px solid;
} 

.experiencia section{
    padding: 20px;
}
section img{
    margin-top: 20px;
    width: 200px;
}

section ul{
    margin-top: 60px;
}

section ul li{
    text-align: center;
  }
  

.cursos{
    animation-name: animation; 
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-bottom: 20px solid;
    padding: 40px;
    margin-bottom: 15px;
    height: 350px;
}

.cursos header{
    text-align: center;
}

.cursos header h6 i{
    position: relative;
   margin-top: 20px;
}

.cursos header ul li{
  text-align: center;
  padding: 10px;
}


.escolaridade:hover{
    background-color: #ccc;
    border-radius: 20px solid;
}

.experiencia:hover{
    background-color: #ccc; 
}

.cursos:hover{
    background-color: #ccc;
}

@keyframes animation{

    0%{ background-color: white; border-radius: 0px;}
    25%{background-color: red;border-radius: 25px;}
    50%{background-color: pink;border-radius: 50px;}
    75%{background-color: orange;border-radius: 75px;}
    100%{background-color: white; border-radius: 0px;}
    
    }
