
html, body{
    padding: 0;
    box-sizing: border-box;
}

.figure figcaption{
    text-align: center;
}
.figure{
    margin-top: 10px;
}

.figure img{
    border-radius: 20px;
    width: 500px;
}

ul li{
    list-style: none;
}
h2{
    text-align: center; 
}

.historia{
    margin-top: 60px;
}
.jumbotron div p{
    margin-bottom: 40px;
}

#btn .col a{
    margin-bottom: 20px;
}

.dadospessoais header ul{
    line-height: 3em;
    text-align: center;
}
.escolaridade{
    text-align: center;
    padding: 20px;
    border-radius: 20px ;
}

.container h2{
    margin-top: 80px;
    margin-bottom: 80px;
}

 #experiencia h2{
    margin-top: 80px;
    margin-bottom: 80px;
}

.experiencia img{
    border-radius: 20px;
}

.experiencia{
    text-align: center;
    min-height: 500px;
    margin-bottom: 20px;
    animation-name: animation; 
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-bottom: 20px solid;
} 

.experiencia section{
    padding: 20px;
}
section img{
    margin-top: 20px;
    width: 200px;
}

section ul{
    margin-top: 60px;
}

.cursos{
    animation-name: animation; 
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-bottom: 20px solid;
    padding: 20px;
    margin-bottom: 20px;
}

.cursos header{
    text-align: center;
}

.cursos header h6 i{
    position: relative;
   margin-bottom: 40px;
}

.escolaridade:hover{
    background-color: #ccc;
    border-radius: 20px solid;
}

.experiencia:hover{
    background-color: #ccc; 
}

.cursos:hover{
    background-color: #ccc;
}

@keyframes animation{

    0%{ background-color: white; border-radius: 0px;}
    25%{background-color: red;border-radius: 25px;}
    50%{background-color: pink;border-radius: 50px;}
    75%{background-color: orange;border-radius: 75px;}
    100%{background-color: white; border-radius: 0px;}
    
    }
